<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href= "/main.css" rel="stylesheet" type="text/css" >
    <title>title</title>
  </head>
  <body>
    <div class= "container">
      <img src= "{{profile}}" alt= "nothing" />
    <script href="../main.js"></script>
</div>
  </body>
</html>
